<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>WOL</title>
    <!-- Enable phone/tablet support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <!-- Global style sheet -->
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<header class="page-header">
    <p>Wake On Lan</p>
    </header>
    <p>This Application is designed to turn on your computer from sleep or completely turned off using wake on lan
     <br>You will select your computer name from the drop down and click submit MacAddress</p>

<form action="/mac" method="post">
    <select name="macaddr" class="custom-select">
        <option value="Mac Here">PC Name Here</option>
        <input type="submit" value="Submit MacAddress">
</select>
</form>


<footer id="footer-buy">
    &copy; Copyright 2016-Present By <a href="https://github.com/l1ghtn1ng/wake">Jay Townsend</a>
    </footer>
</body>
</html>
