/* Header style */
  .page-header{
       	color: rgb(0, 155, 204);
	font-size-adjust: 2; background: #000;
        height: auto;
        padding-bottom: 9px;
        margin: 0px;
        border-bottom: 1px solid rgb(238, 238, 238);
        border-top: 0px none;
        padding-top: 1%;
    }
    header img {
        margin-left: 1%;
    }

    /* button style */
    button, input[type="button"], input[type="reset"], input[type="submit"] {
        cursor: pointer;
        background: rgb(0, 155, 204) none repeat scroll 0% 0%;
        margin: 0px;
        border: none;
        color: rgb(255, 255, 255);
        border-radius: 0.7em;
        padding: 0.5%;
        -webkit-transform: scale(1);
        transition: 0.4sec
        -webkit-transition: 0.4sec
        }

    button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover{
           background:rgb(0, 79, 126);
          transform: scale(1.05);
          -webkit-transform: scale(1.05);
          -webkit-transition: 0.4sec
          transition: 0.4sec
    }
button, input, select, textarea {
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        padding: 0.5%;
        border-radius: 0.7em;
        border: 1px solid black;
}
    /* form style */
form {
    margin-left: 1%;
    margin-top: 2%;
}
    /* Text size */
p {
    margin: 0px 0px 10px;
    font-size: 17px;
    padding-top: 10px;

    /* Footer style */
}
#footer-buy  {
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100%;
    background: rgb(0, 0, 0) none repeat scroll 0% 0%;
}

    /* Footer text style */
#footer-buy p {
    color: rgb(0, 155, 204);
}
