 /* Button on hover style */
    .btn:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover{
        background-color: #ee4b50;
    }
    /* Button color */
.btn, .btn-large, .btn-small {
    text-decoration: none;
    color: #fff;
    background-color: #ee6e73;
    text-align: center;
    letter-spacing: .5px;
}
/*p {*/
/*    margin: 0 0 10px;*/
/*    font-size: 17px;*/
/*    padding-top: 10px;*/
/*}*/

 /* Drop Down Menu */
.select-wrapper input.select-dropdown {
    position: relative;
    cursor: pointer;
    background-color: transparent;
    color: #ee6e73;
}

.select-wrapper {
    position: relative;
    color-adjust: inherit;
}
/* End of Drop down menu section */

 /* Footer layout */
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
    background-color: #000000c4;
}