/* Button on hover style */
.btn:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover{
        background-color: #9e9e9e;
}

/* Button color */
.btn, .btn-large, .btn-small {
    text-decoration: none;
    color: #fff;
    background-color: #212529;
    text-align: center;
    letter-spacing: .5px;
    border-radius: .50rem;
}


/* Drop Down Menu */
.select-wrapper input.select-dropdown {
    position: relative;
    cursor: pointer;
    background-color: transparent;
    color: #7c7b7b;
}

.select-wrapper {
    position: relative;
}

.dropdown-content li > a, .dropdown-content li > span {
    font-size: 16px;
    color: #9e9e9e;
    background-color: #000000c4;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}

.select-dropdown li.disabled, .select-dropdown li.disabled > span, .select-dropdown li.optgroup {
    color: #9e9e9e;
    background-color: #393939;
}

.input-field.col label {
    left: 0.1rem;
}

/* End of Drop down menu section */

/* Form select */
.form-select {
    display: block;
    width: 100%;
    padding: .375rem 2.25rem .375rem .75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    background-color: #3b3b3b;
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


/* Footer layout */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    background-color: #000000c4;
}