<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>Wake</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
    <link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="/static/style.css">
</head>
<main>
  <h2>Wake</h2>
  <form method="POST">
      <select class="form-select form-select-mb" name="macaddr">
          <option hidden>Choose computer</option>
          {% for key, value in computers %}
              <option value="{{ value }}">{{ key }}</option>
          {% endfor %}
      </select>
      <button type="submit" class="btn btn-rounded">Power On</button>
  </form>
</main>

<footer class="text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">
                <!-- Twitter -->
                <a class="btn btn-floating m-1" href="https://twitter.com/jay_townsend1" role="button"
                ><i class="fab fa-twitter"></i
                ></a>
                <!-- Github -->
                <a class="btn btn-floating m-1" href="https://github.com/L1ghtn1ng/wake" role="button"
                ><i class="fab fa-github"></i
                ></a>
                <!-- Github -->
                <a class="btn btn-floating m-1" href="https://paypal.me/jaytownsend1" role="button"
                ><i class="fab fa-paypal"></i
                ></a>
            </section>
            <!-- Section: Social media -->
        </div>
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            &copy; <script type="text/JavaScript">document.write(new Date().getFullYear());</script> Copyright
            <a class="text-white" href="#">Jay Townsend</a>
        </div>
    </footer>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js" integrity="sha512-WW8/jxkELe2CAiE4LvQfwm1rajOS8PHasCCx+knHG0gBHt8EXxS6T6tJRTGuDQVnluuAvMxWF4j8SNFDKceLFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</html>
