<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>WOL</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" integrity="sha512-UJfAaOlIRtdR+0P6C3KUoTDAxVTuy3lnSXLyLKlHYJlcSU8Juge/mjeaxDNMlw9LgeIotgz5FP8eUQPhX1q10A==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/static/style.css">
</head>
<main>
<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Wake</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      </ul>
    </div>
  </nav>

 <div class="input-field col s12">
    <select id="macaddr" method="post">
      <option value="" disabled selected>Choose your computer</option>
      {% for key, value in computers %}
        <option value="{{ value }}">{{ key }}</option>
      {% endfor %}
    </select>
    <label>Select Computer To Turn On</label>

  <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
 </div>
</main>

<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">About  This App</h5>
                <p class="grey-text text-lighten-4">This Application is designed to turn on your computer from sleep or completely turned off using wake on lan</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://github.com/L1ghtn1ng/wake/issues">Submit issues</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://twitter.com/jay_townsend1">Twitter</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://paypal.me/jaytownsend1">Donate</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container center-align">
            &copy; <script type="text/JavaScript">document.write(new Date().getFullYear());</script> Copyright Jay Townsend
            <a class="grey-text text-lighten-4 right" href="https://choosealicense.com/licenses/mit/">MIT License</a>
        </div>
    </div>
</footer>

<!-- materialize core JavaScript files -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js" integrity="sha512-/DXTXr6nQodMUiq+IUJYCt2PPOUjrHJ9wFrqpJ3XkgPNOZVfMok7cRw6CSxyCQxXn6ozlESsSh1/sMCTF1rL/g==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" integrity="sha512-NiWqa2rceHnN3Z5j6mSAvbwwg3tiwVNxiAQaaSMSXnRRDh5C2mk/+sKQRw8qjV1vN4nf8iK2a0b048PnHbyx+Q==" crossorigin="anonymous"></script>
<script M.AutoInit(); ></script>
<!-- Inital load of the select form -->
<script language="javascript" type="text/javascript">
    $(document).ready(function(){
        $('select').formSelect();
    });
</script>
</html>